<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Mazo</title>
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/cardList.css') }} ">
	<script src=" {{asset('js/CardClass.js')}} "></script>
	<script src=" {{asset('js/cardList.js')}} "></script>
</head>
{% include "header.html.twig" %}
<body>
    <!-- Por cada carta, mostrar su nombre, precio y la imagen. -->
    <!-- Leer el dato que se envia desde el controlador y mostrarlo en la vista. -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1> {{ deck.getDeckName }} </h1>
            </div>
			{% include "separation.twig" %}
        </div>

        <div class="row">
            <div class="col-12 text-center">
			 	{# <button onclick="addToBody()">mostrar lista</button> #}
			 	<select id="sortMode" onchange="sortBy('sortMode')">
			 		<option value="name">Nombre</option>
			 		<option value="price">Precio</option>
			 	</select>
			 	<select id="groupMode" onchange="groupBy('groupMode')">
			 		<option value="none">No agrupar</option>
			 		<option value="type">Tipo</option>
			 		<option value="set">Expansion</option>
			 	</select>
            </div>
        </div>

		<br>
		
		{# <div >
			<span class="card-data" data-card-id="4b4390f4-451f-4575-96e0-dc4dcb45ad8f"></span>
			<span class="card-data" data-card-id="047f196b-a9d1-4cd3-b665-3b304cc59767"></span>
		</div> #}

        <div class="row justify-content-center no-deco" id="card-list" data-ajax-route="https://api.scryfall.com/cards/">
		
            {% for card in deck.getDeckCards %}
                <div class="col-12 col-sm-11 col-md-10   card-list-show" data-card-id="{{ card.getCard.getIdScryfall }}" data-card-name="{{ card.getCard.getCardName }}">
					<a href=" {{ path('view_card', {id: card.getCard.getIdScryfall  }) }} "> 
					<div class="d-flex justify-content-between align-items-center w-100">
						<img id="card-image" class="col-4 col-md-2 col-sm-3 m-2" src="https://fepfi.es/wp-content/uploads/2021/10/placeholder-1.png" alt="card image">
						<p class="col-6"> {{ card.getCard.getCardName }} </p>
						<p class="col-2" id="card-price"></p>
					</div>
					</a>
                </div>
            {% endfor %}
        </div>
		{# dejar un pequeño pie de pagina #}
		<br> 
    </div>
		{# {{ dump(deck) }}
		{{ dump(app.user) }} #}
</body>
</html>
