<!DOCTYPE html>
<html lang="en">
<head>
	{% set meta_title = "Editar Mazo" %}
	{% set meta_description = "Edita los datos de tu mazo" %}
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/cardList.css') }} ">
	<script src=" {{asset('js/CardClass.js')}} "></script>
	<script src=" {{asset('js/cardList.js')}} "></script>
</head>
{% include "header.html.twig" %}
<body>
    <!-- Por cada carta, mostrar su nombre, precio y la imagen. -->
    <!-- Leer el dato que se envia desde el controlador y mostrarlo en la vista. -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
				<h2>Editando: <strong>{{ deck.getDeckName }}</strong> </h2>
            </div>
			<div class="col-12 text-start">
				<a href="{{ path('deck_show', { id: deck.getIdDeck }) }}" class="btn btn-outline-secondary">
					Volver al mazo
				</a>
			</div>
        </div>
		{% include "separation.twig" %}

		<form 
		{% if deck.getIdDeck is not null and deck.getIdDeck != '' %}
			action="{{ path('deck_edit', {'id': deck.getIdDeck}) }}"
		{% endif %}
		method="post">

			<div class="form-group">
				<label for="_deckName">Nombre del mazo:</label>
				<input type="text" id="deckName" name="_deckName" class="form-control" value="{{ deck.getDeckName }}" required>
			</div>
			<br>
			<div class="form-group">
				{% include "deckManagement/deckFormatInput.twig" %}
			</div>
			<br>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-primary">Guardar cambios</button>
			</div>
			<br>
			
		</form>
		<form 
		{% if deck.getIdDeck is not null and deck.getIdDeck != '' %}
			action="{{ path('deck_delete', {'id': deck.getIdDeck}) }}"
		{% endif %}
		method="post">
			<div class="form-group text-center">
				<button type="submit" class="btn btn-danger">BORRAR MAZO</button>
			</div>
			<br>
			
		</form>

		{# {{ dump(deck) }}  #}
    </div>
</body>
</html>
