<!DOCTYPE html>
<html lang="en">
<head>
	{% set meta_title = "Tu colección" %}
	{% set meta_description = "Gestiona tu colección de cartas" %}
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/cardList.css') }} ">
	<script src=" {{asset('js/CardClass.js')}} "></script>
	<script src=" {{asset('js/cardList.js')}} "></script>
</head>
{% include "header.html.twig" %}
<body>
    <!-- Por cada carta, mostrar su nombre, precio y la imagen. -->
    <!-- Leer el dato que se envia desde el controlador y mostrarlo en la vista. -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
				<h1> Tu colección </h1>
            </div>
        </div>

		{% include "separation.twig" %}

        <div class="row">
            <div class="col-12 text-center">
			 	{# <button onclick="addToBody()">mostrar lista</button> #}
				<select id="sortMode" class="form-select w-auto d-inline-block" onchange="sortBy('sortMode')">
					<option value="id">No ordenar</option>
					<option value="name">Nombre</option>
					<option value="price">Precio</option>
					<option value="purchace-price">Precio de compra</option>
				</select>
				{# <select id="groupMode" class="form-select w-auto d-inline-block" onchange="groupBy('groupMode')">
			 		<option value="none">No agrupar</option>
			 		<option value="type">Tipo</option>
			 		<option value="set">Expansion</option>
			 	</select> #}
            </div>
        </div>
        <div class="row justify-content-end" id="save-changes-popup" data-has-changes="0" data-save-route="{{path('collection_update')}}">
			<div class="p-2 col-md-8 col-sm-10 col-12 d-flex flex-row">
				<div class="col-md-8 col-8 d-flex justify-content-center align-items-center">
					<p class="m-0 text-center">Pulsa el boton para guardar cambios</p>
				</div>
				<button class="col-md-4 col-4 btn btn-success" id="save-changes-popup-save" onclick="saveChanges()">Guardar Cambios</button>
				<button class="col-md-4 col-4 btn btn-danger"  id="save-changes-popup-close" onclick="closePopup()">Cerrar</button>
			</div>
        </div>

		<br>
		
        <div class="row justify-content-center no-deco" id="card-list" data-ajax-route="https://api.scryfall.com/cards/">
            {% for card in collection %}
				{# {{ dump(card) }} #}
                <div class="col-12 col-sm-11 col-md-10 ps-0 pe-md-0   card-list-show" 
				data-card-id="{{ card.getCard.getIdScryfall }}" data-card-name="{{ card.getCard.getCardName }}"
				data-card-quantity="{{ card.getQuantity }}" data-card-order="{{ card.getIdCollection }}"
				data-card-purchase-price="{{ card.getPurchasePrice }}" data-card-is-foil="{{ card.getIsFoil }}"
				data-card-state="{{ card.getState.getStateName }}"
				>
					<div class="d-flex justify-content-between align-items-center w-100"> 

						<a class="col-sm-7 col-6   d-flex justify-content-between"
						href=" {{ path('view_card', {id: card.getCard.getIdScryfall  }) }} ">
							<img id="card-image" class="col-sm-4 col-6" src="https://fepfi.es/wp-content/uploads/2021/10/placeholder-1.png" alt="card image">
							
							<p class="col d-flex flex-row align-items-center justify-content-start m-0" title="{{ card.getCard.getCardName }}"> 
								{% if card.getIsFoil %} <span title="Foil" class="foil-text">Foil</span>
								{% endif %} {{ card.getCard.getCardName }} 
							</p>
						</a>

						<div id="card-prices" class="col-sm-1 col-2 d-flex flex-row align-items-start" data-price-improvement="0">
							<div class="d-flex flex-column align-items-center justify-content-center">
								<span class="d-block" id="card-price"></span>
								<span class="d-block" id="card-purcharse-price"> {{ card.getPurchasePrice }}€ </span>
							</div>
							{# <img src="https://www.svgrepo.com/show/384726/pointer-up.svg" alt="" class="w-100 h-auto"> #}
						</div>

						<div id="card-state" class="col-sm-1 col-2 d-flex flex-column justify-content-center align-items-center" data-price-improvement="0">
							<p class="m-0 card-state card-state-{{ card.getState.getStateName }}">{{ card.getState.getStateName }}</p>
						</div>

						<div class="col-sm-2 col-2 d-flex flex-row align-items-center justify-content-evenly">
							<button class="btn btn-outline-secondary" onclick="modifyCardQuantity({{ card.getIdCollection }}, -1)">-</button>
							<p data-quantity-status="default" id="card-quantity" class="m-0 mx-sm-1"> {{ card.getQuantity }} </p>
							<button class="btn btn-outline-secondary" onclick="modifyCardQuantity({{ card.getIdCollection }}, +1)">+</button>
						</div>
                	</div>
                </div>
            {% endfor %}
        </div>
		{# the last card should end up in the middle of the screen when scrolling to the bottom #}
		<div class="final-margin"></div>
    </div>
		{# {{ dump(collection) }} #}
		{# {{ dump(app.user) }} #}
</body>
</html>
