<!DOCTYPE html>
<html lang="en">
<head>
	{% set meta_title = "Iniciar sesi칩n" %}
	{% set meta_description = "Inicia sesi칩n en Floating Mana" %}
	
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/form.css') }} ">

</head>
{% include "header.html.twig" %}
<body>

	<div class="container">
		<div class="d-flex justify-content-center align-items-center p-5" style="min-height: 90vh;">
			<form action="{{ path('app_login') }}" method="post" 
			class="row justify-content-center w-100">
			
				{% if responseData is defined %}
					<p class="text-center alert alert-danger">
						{{ responseData.message }}
					</p>
				{% endif %}
				<table class="col-12 col-md-8 pop-up-bordered w-100">
					<tr class="p-5">
						<td class="col-6 col-md-4 p-2">Correo</td>
						<td class="col-6 col-md-4 p-2"><input type="text" id="username" name="_username" class="form-control"/></td>
					</tr>
					<tr>
						<td class="p-2">Contrase침a</td>
						<td class="p-2"><input type="password" id="password" name="_password" class="form-control" /></td>
					</tr>
					<tr>
						<td colspan="2" class="p-2 text-center"><button type="submit" class="btn btn-primary">Iniciar sesi칩n</button></td>
					</tr>
					<tr>
						<td colspan="1" class="pb-2 text-center"> 
							<a class="btn btn-outline-primary" href="{{ path('app_register_view') }}">Registrarse</a> 
						</td>
						{#<td> <a href="{{ path('app_recovery_view') }}">Recover Password</a> </td>#}
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>
