<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/form.css') }} ">

</head>

{% include "header.html.twig" %}
<body>

	<div class="container">

		<div class="row">
			<h1 class="col-12 text-center"> Mi perfil </h1>
			{% include "separation.twig" %}
		</div>

		<div class="row">
			<div class="col-12 col-sm-6 col-md-3">
				<img src="{{ app.user.getProfilePic }}" alt="" class="default-profile-picture w-100 d-block" style="min-height: 100px;">
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<p><strong> Usuario: </strong> {{ app.user.getName }}</p>
				<p><strong> Correo: </strong> {{ app.user.getEmail }}</p>
			</div>

			<form action="{{ path('profile_update') }}" method="post" enctype="multipart/form-data" class="col-12 col-sm-12 col-md-6">

				<div>
					<label for="profilePicture">Foto de perfil:</label>
					<input type="file" id="profilePicture" name="profilePicture" accept="*.png">
				</div>
				<div>
					<label for="username">Usuario:</label>
					<input type="text" id="username" name="username" value="{{ app.user.getName }}" required>
				</div>
				<div>
					<label for="email">Correo:</label>
					<input type="email" id="email" name="email" value="{{ app.user.getEmail }}" required>
				</div>
				<button type="submit">Actualizar perfil</button>

			</form>
		</div>


	</div>
</body>
