<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/form.css') }} ">

</head>
<body>
	
	
	{% if responseData is defined %}
		{{ responseData.message }}
	{% endif %}


	<div class="container">
		<form action="{{ path('app_register') }}" method="post" 
		class="center-in-page-vert row justify-content-center">
			<table class="col-12 col-md-8 pop-up-bordered">
				<tr>
					<td class="col-6 col-md-4 p-2">Usuario</td>
					<td class="col-6 col-md-4 p-2"><input type="text" id="username" name="_username" class="form-control" /></td>
				</tr>
				<tr>
					<td class="p-2">Correo</td>
					<td class="p-2"><input type="email" id="email" name="_email" class="form-control" /></td>
				</tr>
				<tr>
					<td class="p-2">Contraseña</td>
					<td class="p-2"><input type="password" id="password" name="_password" class="form-control" /></td>
				</tr>
				<tr>
					<td colspan="2" class="text-center p-2"><button type="submit" class="btn btn-primary">Registrarse</button></td>
				</tr>
				<tr>
					<td class="mb-1 text-center"> <a href="{{ path('app_login_view') }}">Iniciar sesion</a></td>
					{#<!--<td> <a href="{{ path('load_recovery') }}">Recover Password</a> </td> -->#}
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
