
{% macro mostrarImagen(card, img_class, flip_button)  %}

	{% if card.card_faces is defined and card.card_faces[0] is defined and card.card_faces[0].image_uris is defined %}
		{% if flip_button == true %}
		
			<div class="two-side-image" data-shown-face="0">
				<img alt="card image" class="{{img_class}} card-hide"
				src="{{ card.card_faces[0].image_uris.normal }}" >

				<img alt="card image" class="{{img_class}} side-0"
				src="{{ card.card_faces[0].image_uris.normal }}" >
				<img alt="card image" class="{{img_class}} side-1"
				src="{{ card.card_faces[1].image_uris.normal }}" >

				<button type="button" class="flip-card-button">Flip</button>
			</div>

		{% else %}
			<img alt="card image" class="{{img_class}}"
			src="{{ card.card_faces[0].image_uris.normal }}" >

		{% endif %}

	{% else %}
		<img class="{{img_class}}" alt="card image"
		{% if card.image_uris.normal is defined %}
			src="{{ card.image_uris.normal }}" 

		{% else %}
			{# Placeholder photo, the back of the card #}
			src="https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg"


		{% endif %}
		>
	{% endif %}
{% endmacro %}

{% macro datosDeLaCarta(card)  %}
					
	{# coste de mana #}
	{% if card.mana_cost is defined and card.mana_cost is not empty %}
		<p> Coste: <span class="replace-text-with-symbol">{{ card.mana_cost }} </span></p>
	{% else %}
		<p> <i> No tiene coste </i> </p>
	{% endif %}

	<hr class="fading-separation">
	{# tipo #}
	{% if card.type_line is defined and card.type_line is not empty %}
		<p>
			{{ card.type_line }}
		</p>
	{# {% else %}
		<p>Descripcion no encontrada</p> #}
	{% endif %}
	
	{# descripcion #}
	{% if card.oracle_text is defined and card.oracle_text is not empty %}
		<p class="replace-text-with-symbol">
			{{ card.oracle_text }}
		</p>
	{% else %}
		<p>Descripcion no encontrada</p>
	{% endif %}


	{# texto decorativo #}
	{% if card.flavor_text is defined and card.flavor_text is not empty %}
		<hr class="fading-separation">
		<p class="replace-text-with-symbol"><i>
			{{ card.flavor_text }}
		</i></p>
	{# {% else %}
		<p>Descripcion no encontrada</p> #}
	{% endif %}

	{# poder y defensa o lealtad#}
	{% if card.toughness is defined and card.toughness is not empty %}
	{% if card.power is defined and card.power is not empty %}
		<hr class="fading-separation">
		<p class="d-flex justify-content-between ps-5 pe-5">
			<span>
				Poder: {{ card.power }}
			</span>
			<span>
				Defensa: {{ card.toughness }}
			</span>
		</p>
	{# {% else %}
		<p>Descripcion no encontrada</p> #}
	{% endif %}
	{% endif %}

	{% if card.loyalty is defined and card.loyalty is not empty %}
		<hr class="fading-separation">
		<p class="d-flex justify-content-between ps-5 pe-5">
			<span>
				Lealtad: {{ card.loyalty }}
			</span>
		</p>
	{% endif %}

{% endmacro %}