
<header class="container-fluid" data-is-open="0">

	{# NORMAL HEADER #}
	<div class="row justify-content-center d-flex">
		<div class="col-6 col-md-3 justify-content-start d-flex">
			<a href="{{ path('dashboard') }}" class="d-md-block d-none">
				<img src="https://images.fineartamerica.com/images/artworkimages/medium/3/magic-the-gathering-colors-of-mana-aurora-uyainah-transparent.png" alt="logo">
			</a>
			<button id="sideHeaderButtonOpen"></button>
		</div>
		{# <div class="col flex-row justify-content-center d-md-flex d-none">
			<p class="m-1"><a href="{{ path('dashboard') }}">Dashboard</a></p>
		</div> #}

		<div class="col flex-row justify-content-center d-md-flex d-none">
			<a href="{{ path('random_card') }}" class="d-block btn mana-bg-colorless default-text-color me-2">Carta Aleatoria</a>
			<form id="search-card-form" action=" {{path('search_card', {nombre: '__name__'})}} ">
				<input class="form-control w-100" type="text" name="cardName" placeholder="Search a card...">
			</form>
			<script src="{{ asset('js/searchCardForm.js') }}"></script>
		
		</div>
		<div class="col-6 col-md-3 d-flex justify-content-end">
			<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="foto de perfil">
		</div>
	</div>

	{# SIDE BAR #}
	<div id="open-header-background">
		<div id="open-header" class="row col-12 col-sm-8 col-md-4 h-100 ps-2">
			<div class="justify-content-center align-items-center flex-column">

				<div class="justify-content-between d-flex">
					{# <a href="{{ path('dashboard') }}"> #}
						<img src="https://images.fineartamerica.com/images/artworkimages/medium/3/magic-the-gathering-colors-of-mana-aurora-uyainah-transparent.png" alt="logo">
					{# </a> #}
					<button id="sideHeaderButtonClose"></button>
				</div>

				<br>

				<form id="search-card-form" action=" {{path('search_card', {nombre: '__name__'})}} ">
					<input class="form-control w-100" type="text" name="cardName" placeholder="Search a card...">
				</form>

				<a class="mt-2 d-block btn mana-bg-colorless default-text-color" href="{{ path('dashboard') }}">Dashboard</a>
				<a class="mt-2 d-block btn mana-bg-colorless default-text-color" href="{{ path('random_card') }}">Carta Aleatoria</a>

				<br>

				<a class="mt-2 d-block btn mana-bg-green" href="{{ path('collection_index') }}">Colección</a>
				<a class="mt-2 d-block btn mana-bg-white" href="{{ path('deck_index') }}">Mazos</a>
				<a class="mt-2 d-block btn mana-bg-red" href="#">Buscar</a>
				<a class="mt-2 d-block btn mana-bg-blue" href="{{ path('collection_index') }}">Perfil</a>

				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<a class="mt-2 d-block btn mana-bg-black" href="{{ path('app_logout') }}">Cerrar sesión</a>
				{% else %}
					<a class="mt-2 d-block btn mana-bg-black" href="{{ path('app_login') }}">Iniciar sesión</a>
				{% endif %}
				

			</div>
		</div>
	</div>
</header>