<div id="addCardPopUp" data-show-status="0" class="container-fluid">
	<div class="row justify-content-center">

		<div id="addCardPopUp-window" class="col-10 mt-5 p-5">
			<input type="hidden" id="addCardPopUp-window-card-id" value="">
			<input type="hidden" id="addCardPopUp-window-card-name" value="">
			<div class="row">
				<div id="addCardPopUp-window-collection" class="col mb-3" data-AJAX-route="{{ path('collection_add_card') }}">
					<h2>Añadir a coleccion</h2>
					<p id="addCardPopUp-window-collection-name">Nombre de la carta</p>
					<hr class="fading-separation">
					
					<label for="collection-purchacePrice">Precio de compra</label>
					<input type="number" name="collection-purchacePrice"
					id="addCardPopUp-window-collection-purchacePrice" class="form-control w-auto" style="display: inline;"
					placeholder="No encontrado">€
					<br>
					
					<label for="collection-isFoil">Es foil</label>
					<input type="checkbox" name="collection-isFoil" class="form-check-input"
					id="addCardPopUp-window-collection-isFoil">
					<br>

					<label for="collection-state">Estado</label>
					<select name="collection-state" class="form-select"
					id="addCardPopUp-window-collection-state">
						{% for state in get_card_state_list() %}
							<option value="{{ state.getIdState }}"> {{ state.getStateName }} </option>
						{% endfor %}
					</select>
					<br>

					<button id="addCardPopUp-window-collection-button" class="btn btn-outline-success" onclick="addCardToCollection()">Añadir a coleccion</button>
				</div>

				<div id="addCardPopUp-window-deck" class="col" data-AJAX-route="{{ path('add_card_to_deck') }}">
					<h2>Añadir a mazo</h2>
					<p id="addCardPopUp-window-deck-name">Nombre de la carta</p>
					<hr class="fading-separation">
					
					{% if not app.user.getDecks or app.user.getDecks|length <= 0 %}
						<a href="{{ path('deck_create_view') }}"
						class="btn btn-outline-success btn-lg">
							Crear nuevo mazo
						</a>
					{% else %}
						<label for="deck-quantity">Catidad</label>
						<input name="deck-quantity" type="number"
						id="addCardPopUp-window-deck-quantity" class="form-control w-auto" style="display: inline;">
						<br>

						<label for="selected-deck">Mazo</label>
						<select name="selected-deck" class="form-select"
						id="addCardPopUp-window-deck-selected">
							<option value="none">Elige un mazo</option>
							{% for deck in app.user.getDecks %}
								<option value="{{ deck.getIdDeck }}">{{ deck.getDeckName }}</option>
							{% endfor %}
						</select>
						<br>
						
						<button id="addCardPopUp-window-deck-button" class="btn btn-outline-success" onclick="addCardToDeck()">Añadir a mazo</button>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div id="addCardPopUp-window-message" class="col" data-status="-1">
					<p id="addCardPopUp-window-message-text">Texto de prueba</p>

				</div>
			</div>
		</div>
	</div>
</div>