<!DOCTYPE html>
<html lang="en">
<head>
	{% set meta_title = "Busqueda" %}
	{% set meta_description = "Busca cartas para añadirlas a tu colección" %}
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/card.css') }} ">
	<link rel="stylesheet" href=" {{ asset('styles/addCardPopUp.css') }} ">

	<script src=" {{asset('js/addCardPopUp.js')}} "></script>
	<script src="{{ asset('js/searchCardForm.js') }}"></script>

	{% import "macros/cardUtilities.twig" as cardUtilities %}

</head>
{% include "header.html.twig" %}
<body>
	{% include "cardManagement/addCardPopUp.twig" %}
	
    <div class="container">
        <div class="row">
			<div class="col-12 text-center justify-content-center mb-5">
				<h1>Busqueda</h1>
				{% include "separation.twig" %}
				<div class="d-flex justify-content-center">
					<form id="search-card-form" class="col-md-4 col-sm-6 col-8" action=" {{path('search_card', {nombre: '__name__'})}}">
						<input class="form-control" type="text" name="cardName"
						placeholder="Search a card..." value="{{ app.request.attributes.get('nombre') }}">
					</form>
				</div>
			</div>
        </div>
		{% if cards is defined and cards is not empty %}
        	<div class="row justify-content-center">

            {% for card in cards %}
                <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
					<div class="card-slide-preview d-flex flex-column justify-content-between align-items-center h-100">
						<a href=" {{ path('view_card', {id: card.id}) }} " class="card-slide-link w-100 d-flex flex-column align-items-center">
							{{ cardUtilities.mostrarImagen(card, "card-img-top", false) }}
							<div class="card-body w-100 d-flex flex-column align-items-center">
								<h5 class="card-slide-title text-center">{{ card.name }}</h5>
								{% if card.prices.eur is not empty %}
									<p class="card-slide-text text-center">{{ card.prices.eur }}€</p>
								{% else %}
									<p class="card-slide-text-default text-center">--€</p>
								{% endif %}
							</div>
						</a>
						{% if is_granted("IS_AUTHENTICATED_FULLY") %}
							<button class="btn btn-outline-secondary btn-sm w-100" onclick='addCardPopUp( "{{ card.name }}" , "{{ card.id }}" , {{ card.prices|json_encode() }} )'> Añadir a... </button>
						{% endif %}
					</div>
                </div>
            {% endfor %}
        	</div>
		{% elseif app.request.attributes.get('nombre') is defined and app.request.attributes.get('nombre')|length > 0 %}
			<div class="row justify-content-center text-center">
				<p>No se han encontrado cartas con el nombre {{ app.request.attributes.get('nombre') }}</p>
			</div>
		{% endif %}
    </div>
</body>
</html>
