<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Busqueda: {{ app.request.attributes.get('nombre') }}</title>
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/card.css') }} ">
	<link rel="stylesheet" href=" {{ asset('styles/addCardPopUp.css') }} ">

	<script src=" {{asset('js/addCardPopUp.js')}} "></script>

	{% import "macros/cardUtilities.twig" as cardUtilities %}

</head>
{% include "header.html.twig" %}
<body>
	{% include "cardManagement/addCardPopUp.twig" %}
	
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Buscando: {{ app.request.attributes.get('nombre') }}</h1>
				{% include "separation.twig" %}
            </div>
        </div>
        <div class="row justify-content-center">

			{% if cards is defined %}
            {% for card in cards %}
                <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-2">
					<div class="card-slide-preview mb-5">
						<a href=" {{ path('view_card', {id: card.id}) }} " class="card-slide-link">
						
							{# {% include "import/cardImage.twig" with { card: card, img_class: "card-img-top" } %} #}
							{{ cardUtilities.mostrarImagen(card, "card-img-top", false) }}

							
							<div class="card-body">
								<h5 class="card-slide-title text-center">{{ card.name }}</h5>
								{% if card.prices.eur is not empty %}
									<p class="card-slide-text text-center">{{ card.prices.eur }}€</p>
								{% else %}
									<p class="card-slide-text-default text-center">Precio no disponible</p>
								{% endif %}
							</div>
						</a>
						{% if is_granted("IS_AUTHENTICATED_FULLY") %}
							<button class="btn btn-outline-secondary btn-sm w-100" onclick="addCardPopUp( '{{ card.name }}' , '{{ card.id }}' , {{ card.prices|json_encode() }} )"> Añadir a... </button>
						{% endif %}

					</div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
