<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/dashboard.css') }} ">

</head>
{% include "header.html.twig" %}
<body>
	<div class="container">
		<div class="row justify-content-center pe-sm-5 ps-sm-5">
			<h1 class="text-center">¡Hola, 
			{% if responseData is defined %}
				{{ responseData.user.username }}!
			{% elseif is_granted("IS_AUTHENTICATED_FULLY") %}
				{{ app.user.getName }}!
			{% else %}
				desconocido!
			{% endif %}
			{# Bienvenido a tu colección de Magic 🧙‍♂️ #}
			</h1>
		</div>
		{% include "separation.twig" %}
	</div>

	<br>

	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center pe-sm-5 ps-sm-5">
			<a class="col option d-block mana-bg-green" href="{{ path('collection_index') }}" class="text-center">
				<div class="d-flex flex-column justify-content-center align-items-center h-100" style="height: 100%;">
					<h2>Colección</h2>
					<p>Explora y organiza tu colección</p>
				</div>
			</a>
			<a class="col option d-block mana-bg-white" href="{{ path('deck_index') }}" class="text-center">
				<div class="d-flex flex-column justify-content-center align-items-center h-100" style="height: 100%;">
					<h2>Mazos</h2>
					<p>Crea, edita y comparte mazos</p>
				</div>
			</a>
			<a class="col option d-block mana-bg-red" href="#" class="text-center">
				<div class="d-flex flex-column justify-content-center align-items-center h-100" style="height: 100%;">
					<h2>Buscar</h2>
					<p>Busca cartas para añadir a tu colección</p>
				</div>
			</a>
			<a class="col option d-block mana-bg-blue" href="{{ path('profile') }}" class="text-center">
				<div class="d-flex flex-column justify-content-center align-items-center h-100" style="height: 100%;">
					<h2>Perfil</h2>
					<p>Visita tu perfil</p>
				</div>
			</a>
			
			{% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<a class="col option d-block mana-bg-black" href="{{ path('app_logout') }}" class="text-center">
					<div class="d-flex flex-column justify-content-center align-items-center h-100" style="height: 100%;">
						<h2>Cerrar sesión</h2>
						<p>¡Hasta pronto!</p>
					</div>
				</a>
			{% else %}
				<a class="col option d-block mana-bg-black" href="{{ path('app_login') }}" class="text-center">
					<div class="d-flex flex-column justify-content-center align-items-center h-100" style="height: 100%;">
						<h2>Iniciar sesión</h2>
						<p>¡Únete a nosotros y empieza a gestionar tus cartas!</p>
					</div>
				</a>
			{% endif %}

		</div>
	</div>

</body>