<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/dashboard.css') }} ">

</head>
{% include "header.html.twig" %}
<body>
	<div class="container">
		<div class="row justify-content-center pe-sm-5 ps-sm-5">
			<h1 class="text-center">¡Hola 
			{% if responseData is defined %}
				{{ responseData.user.username }}!
			{% elseif is_granted("IS_AUTHENTICATED_FULLY") %}
				{{ app.user.getName }}!
			{% else %}
				desconocido!
			{% endif %}
			{# Bienvenido a tu colección de Magic 🧙‍♂️ #}
			</h1>
		</div>
		{% include "separation.twig" %}
	</div>

	<br>

	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center pe-sm-5 ps-sm-5">
			<div class="col option">
				<a href="{{ path('collection_index') }}" class="text-center">
					<h2>Colección</h2>
					<p>Explora y organiza tu coleccion</p>
				</a>
			</div>
			<div class="col option">
				<a href="{{ path('deck_index') }}" class="text-center">
					<h2>Mazos</h2>
					<p>Crea, edita y comparte mazos</p>
				</a>
			</div>
			<div class="col option">
				<a href="#" class="text-center">
					<h2>Buscar</h2>
					<p>Busca cartas para añadir a tu coleccion</p>
				</a>
			</div>
			<div class="col option">
				<a href="{{ path('profile') }}" class="text-center">
					<h2>Ir a mi perfil</h2>
					<p>Visita tu perfil</p>
				</a>
			</div>
			{# <div class="col option">
				<a href="#" class="text-center">
					<h2>🤝 Gestionar Intercambios</h2>
					<p>Organiza tus cartas para cambiar con otros usuarios.</p>
				</a>
			</div> #}
			
			{% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<div class="col option">
					<a href="{{ path('app_logout') }}" class="text-center">
						<h2>Cerrar Sesión</h2>
						<p>¡Hasta pronto!</p>
					</a>
				</div>
			{% else %}
				<div class="col option">
					<a href="{{ path('app_login') }}" class="text-center">
						<h2>Iniciar Sesión</h2>
						<p>¡Unete a nosotros y empieza a gestionar tus cartas!</p>
					</a>
				</div>
			{% endif %}

		</div>
	</div>

</body>